.className {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 39px;
  background-color: #999CE1;
  border-radius: 90px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}